*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

*.ipynb
*.ipynb_checkpoints
*.ipynb_checkpoints_old

# pycache
__pycache__/
*.py[cod]
*$py.class
*.so

# pycharm
.idea/

# vscode
.vscode/

# DS_Store
.DS_Store

# pycache
__pycache__/
*.py[cod]
*$py.class

shapenet_car/*
*.out

checkpoints/*
wandb/

02-Car-Design-ShapeNetCar/shapenet_car/*

*/balltree/balltree.egg-info/*
*/balltree/build/*
*/balltree/dist/*
*/balltree/balltree.cpp

balltree/balltree.egg-info/*
balltree/build/*
balltree/dist/*
balltree/balltree.cpp